<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>music.servlets.ProductListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-role>
        <description>Programmer/Service Status</description>
        <role-name>Programmer</role-name>
    </security-role>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Product Maintenance App</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>librarian</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Librarian Login</realm-name>
    </login-config>
</web-app>
